@import "tailwindcss";

.link-item {
  color: black;
  text-shadow: 0 0 0 #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.link-item:hover {
  background-color: #BBDB3B;
  color: black;
}
.link-item:active {
  background-color: #008000;
  color: white;
}

@keyframes slideInWithZoom {
  0% {
    transform: translateX(100%) scale(0.8);
    opacity: 0;
  }
  /* 100% {
    transform: translateX(100%) scale(0.8);
    opacity: 1;
  } */
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideOutWithZoom {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(100%) scale(0.8);
    opacity: 0;
  }
}

.animate-slide-in-zoom {
  animation: slideInWithZoom 0.3s ease-out forwards;
}

.animate-slide-out-zoom {
  animation: slideOutWithZoom 0.3s ease-in forwards;
}